%tbody{id: "oa_#{order_article.id}"}
  - unless local_assigns[:heading] == false
    %tr.list-heading
      %th.name{colspan: 4}>
        = order_article.article.name + ' '
        = "(#{order_article.article.unit}"
        - pkg_info = pkg_helper(order_article.price)
        = ", #{pkg_info}".html_safe unless pkg_info.blank?
        )

  - for goa in order_article.group_order_articles.ordered
    = render 'shared/articles_by/article_single_goa', goa: goa, edit: local_assigns[:edit], base_unit: local_assigns[:base_unit]
