= simple_form_for @invite, remote: true do |form|
  .modal-header
    = link_to t('ui.marks.close').html_safe, '#', class: 'close', data: {dismiss: 'modal'}
    %h3= t 'invites.form.title'
  .modal-body
    = bootstrap_flash
    = render 'form', invite: @invite, form: form
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = form.submit class: 'btn btn-primary'
