- title t('.title')

.well
  - if @orders.empty?
    = t '.no_finished_orders'
  - else
    %table.table.table-striped
      %thead
        %tr
          %th= heading_helper Order, :name
          %th= heading_helper Order, :ends
          %th= heading_helper Order, :note
          %th{colspan: "2"}
      %tbody
        - for order in @orders
          %tr
            %td= order.name
            %td= format_time(order.ends)
            %td= truncate(order.note)
            %td
              - unless order.stockit?
                -# TODO btn-success class only if not received before
                = link_to t('orders.index.action_receive'), receive_order_path(order), class: 'btn btn-small btn-success'

            %td
              = link_to t('ui.show'), order, class: 'btn btn-small'

