= form_tag payments_mollie_path, method: :post do
  .controls
    = label_tag 'amount', ((params[:label] or t('.amount_pay')))
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = text_field_tag 'amount', @amount, readonly: (params[:fixed]=='true'), class: 'input-mini'
    = label_tag 'bank_id', t('.bank')
    = select_tag 'bank_id', options_from_collection_for_select(@banks, 'id', 'name')
  = submit_tag t('.submit')

  -# pass through options to allow reusing on error
  - %w(label title fixed).each do |k|
    = hidden_field_tag k, params[k] if params[k]
