%table.table.table-hover.list
  %thead.list-heading
    %tr
      %th{:style => 'width:70%'}= Ordergroup.model_name.human
      %th.center
        %acronym{:title => t('shared.articles.ordered_desc')}= t 'shared.articles.ordered'
      %th.center
        %acronym{:title => t('shared.articles.received_desc')}= t 'shared.articles.received'
      %th= t '.price'

  - for order_article in order.order_articles.ordered.all(:include => [:article, :article_price])
    %tbody
      %tr.list-heading
        %th.name{:colspan => "4"}>
          = order_article.article.name + ' '
          (#{order_article.article.unit}, #{number_to_currency order_article.price.fc_price}
          = ((', '+pkg_helper(order_article.price)).html_safe rescue '') + ')'
      - for goa in order_article.group_order_articles.ordered
        %tr{:class => [cycle('even', 'odd', :name => 'groups'), if goa.result == 0 then 'unavailable' end]}
          %td{:style => "width:70%"}= goa.group_order.ordergroup.name
          %td.center= "#{goa.quantity} + #{goa.tolerance}"
          %td.center.input-delta= group_order_article_edit_result(goa)
          %td= number_to_currency(order_article.price.fc_price * goa.result)
      - reset_cycle('groups')
    %tr
      %td(colspan="4")
