%section
  %h2= t '.title'
  - orders = Order.where(state: ['open', 'finished'])
  - group_orders = ordergroup.group_orders.includes(:order).merge(orders)
  - if ordergroup.not_enough_apples?
    .alert
      = t '.not_enough_apples'
  .well
    - if orders.any?
      = link_to group_order_path(:current) do
        .pull-left{style: 'font-size: 38.5px; line-height: 40px; margin-right: 20px'}
          %i.icon-shopping-cart.soft-icon
        %b= orders_title orders
        .pull-right{style: 'line-height: 40px'}
          = number_to_currency group_orders.sum(:price)
        .unavailable
          = orders_status_line(orders)
    - else
      %i= t '.no_open_orders'

  %p= t('home.index.to_archive', archive_link: link_to(t('home.index.to_archive_link'), group_orders_path)).html_safe
