-# for deface overrides
- '<price_details_top_mark>'

- if (price_total rescue true)
  %tr.price_total_row
    %th{colspan: cols-colsright-1} Total
    %th.colsep-right.price_total.price{data: {value: @group_orders_sum}}= number_to_currency @group_orders_sum
    = cell_span colsright

-# for deface overrides
- '<price_details_middle_mark>'

-# the sysadmin might have chosen not to compute price details for old orders
-# if @group_orders_prices[:gross_price]
  %tr.unavailable.price_details
    %td
    %td.colsep-right{colspan: cols-colsright-1} of which goes to
    = cell_span colsright
  -# for deface overrides
  - '<price_details_nested_mark>'
  %tr.price_details
    %td
    %td{colspan: cols-colsright-2} suppliers
    %td.colsep-right.price= number_to_currency @group_orders_prices[:net_price]
    = cell_span colsright
  %tr.price_details
    %td
    %td{colspan: cols-colsright-2}= Article.human_attribute_name :tax
    %td.colsep-right.price= number_to_currency (@group_orders_prices[:gross_price]-@group_orders_prices[:net_price])
    = cell_span colsright
  - if @group_orders_prices[:deposit] > 0
    %tr.price_details
      %td
      %td{colspan: cols-colsright-2}= Article.human_attribute_name :deposit
      %td.colsep-right.price= number_to_currency @group_orders_prices[:deposit]
      = cell_span colsright
  %tr.price_details
    %td
    %td{colspan: cols-colsright-2}= FoodsoftConfig[:name]
    %td.colsep-right.price= number_to_currency (@group_orders_prices[:price]-@group_orders_prices[:gross_price]-@group_orders_prices[:deposit])
    = cell_span colsright

-# for deface overrides
- '<price_details_bottom_mark>'
