- cur_open = order_article.order.open?
- cur_has_tolerance = order_article.use_tolerance?
- group_order_article = @goa_by_oa[order_article.id]
%tr.order-article{class: "#{cycle('even', 'odd', name: 'order_articles')} #{'unavailable' if !cur_open and group_order_article.result==0}", id: "order_article_#{order_article.id}"}
  %td.name
    = article_info_icon order_article.article
    = order_article.article.name
  %td= article_origin order_article.article
  %td.unit{data: {'unit_quantity' => order_article.price.unit_quantity}}= order_article.article.unit
  %td.colsep-right.price{data: {value: order_article.price.fc_price}}= number_to_currency(order_article.price.fc_price)
  %td.center.quantity
    - if cur_open
      = simple_fields_for "group_order[group_order_articles_attributes][#{order_article.id}]", group_order_article do |f|
        - data_delta = {min: 0, granularity: 1}
        - data_delta['max'] = order_article.quantity_available + group_order_article.quantity if order_article.max_quantity
        - data_delta['value-others'] = order_article.quantity - group_order_article.quantity
        = f.input_field :quantity, as: :delta, class: 'input-nano', data: data_delta, id: "q_#{order_article.id}"
    - else
      = order_article.quantity
  - if @has_tolerance
    %td.center.tolerance
      - if cur_open
        = simple_fields_for "group_order[group_order_articles_attributes][#{order_article.id}]", group_order_article do |f|
          - if cur_has_tolerance
            - data_delta = {min: 0, granularity: 1, max: order_article.price.unit_quantity-1}
            - data_delta['value-others'] = order_article.tolerance - group_order_article.tolerance
            = f.input_field :tolerance, as: :delta, class: 'input-nano', data: data_delta, id: "t_#{order_article.id}"
      - else
        = order_article.tolerance
  - unless @has_open_orders
    %td.center= group_order_article.result unless cur_open
  %td.colsep-right.price
    - price_sum = group_order_article.total_price(order_article)
    %span.price_sum{data: {value: price_sum}, class: ('muted' if group_order_article.quantity == 0 and group_order_article.tolerance == 0)}
      = number_to_currency(price_sum)
    = render 'order_article_info', order_article: order_article
  - if @has_open_orders
    - if @has_tolerance
      %td.final_unit
        = final_unit_bar order_article if cur_has_tolerance
    %td.units_to_order{class: ('after_unit' if @has_tolerance)}
      - if @has_tolerance
        %span.plus= cur_has_tolerance ? '+' : '&nbsp;'.html_safe
      %span.units_to_order_value= order_article.units_to_order
