- title 'Previous order', false

- content_for :sidebar do
  = render 'current_order_sidebar'
  .well
    %ul.nav.nav-list
      %li.nav-header Previous orders
      - @group_order_details.each do |(ends, price)|
        %li{class: ('active' if ends==@order_date)}
          = link_to group_order_path(ends) do
            = format_date ends
            .pull-right
              = number_to_currency price

#articles_table
  - if @order_articles and !@order_articles.empty?
    = render 'order_articles'
  - else
    You have no articles in this order.

