= simple_form_for @order, url: {action: 'finish'}, method: :post, remote: true do |form|
  .modal-header
    = link_to t('ui.marks.close').html_safe, '#', class: 'close', data: {dismiss: 'modal'}
    %h3= t '.title', name: @order.name
    .modal-body
      = bootstrap_flash
      %p= t('.confirm_end', order: @order.name)
      - order_checks(@order).each do |type, msg|
        %p
          = item_icon_helper(type)
          = raw msg # may contain links

      -# send to supplier if all is fine
      - will_send = false
      - if @order.can_send == true
        - unless @order.supplier.order_send_email and @order.order_send_emails.present?
          %p= t '.confirm_end_send_manual'

        - else
          - will_send = true
          .control-group.row-fluid
            .span6
              %label{for: 'order_info_order_contact_name'}= t '.contact_order'
              = text_field_tag 'order_info[order_contact_name]', @order_info[:order_contact_name],
                  class: 'input-block-level', required: true, placeholder: User.human_attribute_name(:name)
              = text_field_tag 'order_info[order_contact_phone]', @order_info[:order_contact_phone],
                  class: 'input-block-level', required: true, placeholder: User.human_attribute_name(:phone)
            .span6
              %label{for: 'order_info_delivery_contact_name'}= t '.contact_delivery'
              = text_field_tag 'order_info[delivery_contact_name]', @order_info[:delivery_contact_name],
                  class: 'input-block-level', placeholder: User.human_attribute_name(:name)
              = text_field_tag 'order_info[delivery_contact_phone]', @order_info[:delivery_contact_phone],
                  class: 'input-block-level', placeholder: User.human_attribute_name(:phone)

          .control-group
            %label{for: 'order_info_delivered_before_date'}= t '.delivered_before'
            .pull-left{style: 'margin-right: 12px'}
              = simple_fields_for :order_info do |f|
                = f.input_field :delivered_before, value: @order_info[:delivered_before], as: :date_picker_time, required: true
            .help-block{style: 'font-size: 12px; line-height: 15px;'}= t '.delivered_before_note'

          .control-group
            .pull-right
              = link_to '#', data: {toggle: 'collapse', target: '#send_comment_container'} do
                %label{for: 'order_info_message', style: 'display: inline'}= '(' + t('.edit_message') + ')'
            = t('.confirm_end_send')
            .help-block{style: 'font-size: 12px;'}= 'to: ' + @order.order_send_emails.join(', ')
            .collapse#send_comment_container
              = text_area_tag 'order_info[message]', @order_info[:message], {rows: 6, class: 'input-block-level'}

    .modal-footer
      = link_to t('ui.cancel'), '#', class: 'btn', data: {dismiss: 'modal'}
      = form.submit t(will_send ? '.submit_send' : '.submit_close'), class: 'btn btn-primary'
