- if defined? FoodsoftAdyen or current_user.role_finance?
  .pull-right
    Payment:
    - if defined? FoodsoftAdyen # TODO move to plugin # TODO btn-primary on mobile
      = link_to 'PIN', new_payments_adyen_pin_path(ordergroup_id: ordergroup.id), class: 'btn'
    - if current_user.role_finance?
      = link_to 'New transaction', new_finance_ordergroup_transaction_path(ordergroup), class: 'btn'

%p.pull-left
  - if current_user.role_finance?
    = link_to 'Account balance', finance_ordergroup_transactions_path(ordergroup)
  - else
    Account balance
  of #{ordergroup.name}: #{number_to_currency ordergroup.account_balance}

%p{style: 'text-align: center; font-weight: bold;'}
  - if ordergroup.get_available_funds >= 0
    %span{style: 'color: green'} Fully paid
  - else
    To pay #{number_to_currency -ordergroup.get_available_funds}

