- title t '.title'

- content_for :actionbar do
  .btn-group
    = link_to t('.new_user'), new_admin_user_path(:user => {:ordergroup => {:id => 'new'}}), class: 'btn btn-primary'
    = link_to '#', data: {toggle: 'dropdown'}, class: 'btn dropdown-toggle' do
      %span.caret
    %ul.dropdown-menu
      %li= link_to t('.new_user'), new_admin_user_path(:user => {:ordergroup => {:id => 'new'}})
      %li= link_to t('.new_user_invite'), new_invite_path, remote: true

- content_for :sidebar do
  %p= t('.first_paragraph', url: link_to(t('.new_users'), new_admin_user_path)).html_safe    

.well.well-small
  = form_tag admin_users_path, :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :user_name, params[:user_name], class: 'input-medium search-query',
      placeholder: t('admin.search_placeholder')

#users
  = render "users"
