.article-info.row-fluid.well.span3
  %h3= order_article.article.name

  %dl

    %dt= Article.human_attribute_name(:supplier) + ':'
    %dl= order_article.article.supplier.name

    - if order_article.article.manufacturer
      %dt= Article.human_attribute_name(:manufacturer) + ':'
      %dl= order_article.article.manufacturer

    - if order_article.article.note
      %dt= Article.human_attribute_name(:note) + ':'
      %dl= order_article.article.note

    %dt= t('.units_full') + ':'
    %dl= order_article.units_to_order

    %dt= t('.units_total') + ':'
    %dl= "#{order_article.quantity} + #{order_article.tolerance}"

    %dt= Article.human_attribute_name(:units) + ':'
    %dl
      - if order_article.article.is_a? StockArticle
        = order_article.article.quantity_available
      - else
        = order_article.price.unit_quantity
      * #{order_article.article.unit}
