= render layout: 'layouts/header' do
  .container
    .row
      .span6.offset3
        = bootstrap_flash
        - if show_title?
          .page-header
            %h1
              = yield(:title)
              - if FoodsoftConfig[:sub_name]
                .sub-logo= FoodsoftConfig[:sub_name]
        = yield

        %footer
          %p= t '.footer'
